[submodule "lib/glfw"]
	path = lib/glfw
	url = https://www.github.com/glfw/glfw
[submodule "eigen"]
	path = eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "cnpy"]
	path = cnpy
	url = https://github.com/rogersce/cnpy
[submodule "dependencies/mesh_processing"]
	path = dependencies/mesh_processing
	url = https://github.com/LucasPayne/mesh_processing
